@using Microsoft.AspNetCore.Http.Extensions

@{
    string host = $"{Context.Request.Scheme}://{Context.Request.Host}";
    string requestUrl = Context.Request.GetEncodedUrl(); }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - @Constants.Global.SITE_NAME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Nuno Silva TechInsights" />

    <link rel="canonical" href="@requestUrl" />

    <!-- og tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewData["Title"] - @Constants.Global.SITE_NAME" />
    <meta property="og:description" content="@ViewData[Constants.Global.DESCRIPTION]" />

    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/favicon.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

    <!-- Favicons -->
    <meta name="msapplication-square150x150logo" content="~/img/favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon.png" />
    <link rel="apple-touch-icon" href="~/img/favicon.png" />
    <link rel="shortcut icon" href="~/img/favicon.png" />

    <meta name="application-name" content="@ViewData["Title"] - @Constants.Global.SITE_NAME" />


    <partial name="_TopStyles" />

    @RenderSection("Preload", required: false)

</head>
<body>
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
        @await Html.PartialAsync("_SocialLinks")
    </div>

    <header id="header" class="fixed-top">
        @await Html.PartialAsync("_Navigation")
    </header>

    <main id="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        @await Html.PartialAsync("_FooterContent")
    </footer>

    <div id="preloader"></div>

    @await Html.PartialAsync("_BottomScripts")


    @RenderSection("Scripts", required: false)

</body>
</html>
