@model BlogPostCommentsViewModel

<section id="comments" class="comment-container">
    <div class="container" data-aos="fade-up">
        <h2 id="commentsTitle">Comments</h2>
        @foreach (var comment in Model.Comments)
        {
            <article id="@comment.Id" class="comment" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                <h3>
                    <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                        <a href="#@comment.Id" title="Permalink (#@comment.Id)">@comment.PubDate.ToString("MMMM d, yyyy")</a>
                    </time>
                </h3>



                <div class="content">
                    <p itemprop="text">@comment.Content</p>
                    <span itemprop="name">@comment.Author</span>
                </div>
            </article>
        }

        @if (Model.Comments.Count() == 0)
        {
            <p>Be the first to post a comment</p>
        }


    </div>
    @{
        await Html.RenderPartialAsync("_CommentsForm", Model.CommentForm);
    }
</section>